/*<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
*<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
*font-family: 'Roboto', sans-serif;
*font-family: 'Poppins', sans-serif;
*
*/
/*
*{
	border: 2px solid red;
	padding: 10px;*/ /*hacia todas las direcciones*/
/*}*/	


body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
button{
	border-radius: 5px;
	background: #fd324e;
	color: white;
	border:none;
	padding: 9px;
}
.titulo {
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 70px;
}
.title-a{
	font-size: 24px;
	margin-top: 0;
}
.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}
.guitarra{
	padding: 10px;
	margin: 10px;
	/*overflow: hidden;*/
	border: 1px solid #1f313c;
}
.guitarra ol{
	padding: 0;
}
.guitarras{
	color: #1f313c;
}
.guitarras h2{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
}
.portada{
	background-image: url('../images/background.png');
	color: white;
	padding: 20px;
}
.menu{
	display: inline-block;
	font-size: 24px;
	position: absolute;
	right: 0;
}
.menu li {
	/*eran item-list*/
	display: inline-block;
	margin-left: 30px;
}
.logotipo{
	display: inline-block;
}
.portada button{
	margin-bottom: 70px;
}
/*margin > border > padding > content*/
.header{
	position: relative;
}
.contenedor{
	width: 800px;
	margin: auto;
}
.right {
	float: right;
	position: relative;
	top:-127px;
}
.left{
	float: left;
	position: relative;
	top: 80px;
}
.contenedor-guitarra-a{
	padding-left: 20px;
}
.contenedor-guitarra-b{
	margin-left:370px;
	padding-
}

.footer{
	background: #273b47;
}

.contacto img {
	display: block;
}

.contacto strong {
	display: block;
}

.contacto a{
	color: white;
	text-decoration: none;
}