/*<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
*<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
*font-family: 'Roboto', sans-serif;
*font-family: 'Poppins', sans-serif;
*
*/
/*
*{
	border: 2px solid red;
	padding: 10px;*/ /*hacia todas las direcciones*/
/*}*/	


body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.titulo {
	font-family: 'Roboto', sans-serif;
	font-size: 70px;
	margin-bottom: 0px;
	margin-top: 70px;
}

.title-a{
	font-size: 24px;
	margin-top: 0;
}

.title-b{
	font-size: 50px;
	margin-bottom: 20px;
}

.guitarras{
	color: #1f313c;
	width: 800px;
	margin: auto;
}

.guitarras h2{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
}

.portada{
	background-image: url('../images/background.png');
	color: white;
	padding: 20px;
	width: 800px;
	margin: auto;
}

.menu{
	display: inline-block;
	font-size: 24px;
}
.logotipo{
	display: inline-block;
}
.menu li {
	/*eran item-list*/
	display: inline-block;
	margin-left: 30px;
}

.portada button{
	margin-bottom: 70px;
}
/*margin > border > padding > content*/
.header{
		width: 800px;
	margin: auto;
}